body {
  font-family: 'Inter', sans-serif;
}

.header--container {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  height: 65px;
}

.header--logo {
  width: 31px;
  height: 26px;
  margin-left: 20px;
  margin-right: 7px;
}

.header--title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}

.header--desc {
  margin-left: auto;
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
}