body {
  font-family: 'Inter', sans-serif;
}

.header--container {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  height: 65px;
}

.header--logo {
  width: 31px;
  height: 26px;
  margin-left: 20px;
  margin-right: 7px;
}

.header--title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}

.header--desc {
  margin-left: auto;
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
}

.meme--formContainer {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding: 36px;
}

.meme--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.meme--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  cursor: pointer;
}

.meme--image {
  grid-column: 1 / -1;
  max-width: 100%;
  margin: auto;
}